.footer {
    background-color: $main-black;

    &__top {
        background-color: $main-red;
        height: 3rem;
    }

    &__bottom {
        @media (min-width: $media-l) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        h3 {
            font-size: 2.5rem;
            color: $main-white;
            margin-bottom: 1rem;
        }

        li {
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            color: $main-white;
        }

        div {
            margin-bottom: 2rem;
            padding-top: 2rem;
        }

        svg {
            width: 3rem;
            height: 3rem;
            margin-right: 1rem;
        }
    }
}