.projects {
    h2 {
        margin-bottom: $margin-m;

        @media (min-width: $media-l) {
            margin-bottom: $margin-xl;
        }
    }

    h3 {
        margin-bottom: $margin-s / 1.5;
    }

    &__article {
        margin-bottom: $margin-xl;

        &__content {
            max-width: 35rem;

            &__used-skills {
                p {
                    margin-top: 2rem;
                    margin-bottom: 1rem;
                    // color: $main-red;
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        margin-right: 1rem;
                        padding: 0.5rem 1rem;
                        background-color: $main-white;
                        border: solid 2px $main-red;
                        border-radius: 1rem;
                        font-weight: bold;
                        margin-bottom: 1rem;
                        transition: 0.2s ease;
                        cursor: default;

                        &:hover {
                            background-color: $main-red;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        figure {
            height: 20rem;
            border-radius: $radius-s;
            box-shadow: $shadow-s;
            margin-bottom: $margin-s;

            @media (min-width: $media-m) {
                height: auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: left;
                border-radius: $radius-s;
                filter: brightness(70%);
                transition: $transition;

                &:hover {
                    filter: brightness(100%);
                }
            }
        }

        @media (min-width: $media-l) {
            display: flex;
            justify-content: space-between;
            margin-bottom: $margin-xl * 1.5;

            figure {
                width: 60%;
                box-shadow: $shadow-m;
            }

            &__content {
                width: 30%;
            }

            &:nth-child(odd) {
                flex-direction: row-reverse;
            }
        }
    }
}