.about__img,
.about__content,
.scroller-h2,
.projects__article,
.contact {
    opacity: 0;
    transform: translateY(-2rem);
    transition: 2s ease;
    will-change: transform, opacity;
}

.about__img.is-visible,
.about__content.is-visible,
.scroller-h2.is-visible,
.projects__article.is-visible,
.contact.is-visible {
    opacity: 1;
    transform: translateY(2rem);
}