// Colors
$main-white: #E4E4E4;
$main-red: #F57261;
$red-dark: #f3604c;
$main-black: #0E0E0E;

// Typography
$general-s: 1.5rem;
$general-m: 2.5rem;
$general-l: 3.5rem;

$heading-xl: 5rem;
$heading-l: 4rem;
$heading-m: 3rem;
$heading-s: 2rem;

$paragraph-s: 1.5rem;
$paragraph-m: 1.5rem;
$paragraph-l: 1.5rem;


// Spacing
$padding-xl: 6rem;
$padding-l: 4rem;
$padding-m: 3rem;
$padding-s: 2rem;

$margin-xl: 6rem;
$margin-l: 4rem;
$margin-m: 3rem;
$margin-s: 2rem;

// Extra
$transition: 0.2s ease;

// Media
$media-s: 25rem;
$media-m: 45rem;
$media-l: 62.5rem;

// Radius
$radius-s: 0.5rem;
$radius-m: 1rem;
$radius-l: 1.5rem;

// Shadow
$shadow-s: 10px -10px $main-red;
$shadow-m: 15px -15px $main-red;